<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Green Reborn</title>
    <link rel="stylesheet" th:href = "@{/static/css/style.css}">
    <link rel="icon" th:href="@{/static/images/favicon-32x32.png}">


</head>
<body>
      <section class="header">
          <nav>
              <a th:href="@{/home}">
                  <img th:src="@{/static/images/logo1.png}">
              </a>
              <div class="nav-links" id="navLinks">
                  <i class="fa fa-times" onclick="hideMenu()"></i>
                  <ul>
                      <li><a th:href="@{/home}">НАЧАЛО</a></li>
                      <li><a th:href="@{/about}">ЗА НАС</a></li>
                      <li><a th:href="@{/contacts}">КОНТАКТИ</a></li>
                      <li sec:authorize="isAnonymous()"><a th:href="@{/login}">ВХОД</a></li>
                      <li sec:authorize="isAnonymous()"><a th:href="@{/register}">РЕГИСТРАЦИЯ</a></li>
                      <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}" sec:authentication= "principal.username"></a></li>

                  </ul>
              </div>
              <i class="fa fa-bars" onclick="showMenu()"></i>
          </nav>

          <div class="text-box-aboutUs">
              <h1>За нас</h1>
              <br>
              <img th:src="@{/static/images/logo1.png}" class="aboutUs-logo">
              <p>Digital Reborn е компания, ориентирана в дигиталния бизнес. Стремим се да облекчим живота на младите хора в страната, създавайки образователен сайт. </p>
              <br>
              <ul>
                  <li><p>Чрез него се провеждат онлайн консултации, предоставят се частни уроци на нуждаещите се от помощ по учебните програми. </p></li>
                  <br>
                  <li><p>Чрез избора от предоставените опции всеки може да подбере най-подходящия вариант за себе си.</p></li>
                  <br>
              </ul>
              <p>Сайтът предоставя образователни услуги на младото поколение.
                  Компанията наема преподаватели и лектори, които помагат на учениците, следвайки учебните програми. Сесиите се провеждат онлайн и се заплащат от потребителите в зависимост от избраната услуга.</p>
          </div>
      </section>
</body>
</html>
